*{
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/pexels-polina-tankilevitch-3735644.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#gelas-container {
    background: rgba(0, 0, 0, 0.400);
    height: calc(100vh);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    backdrop-filter: blur(10px);
}

#gelas-container div {
    width: 220px;
    height: 400px;
    border: 2.5px solid rgba(0, 0, 0, 0.400);
    border-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    backdrop-filter: blur(10px);
}

#gelas-container div div {
    width: 220px;
    height: 280px;
    border: 1px solid black;
    border-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.teh {
    background: #4E2E1D;
}

.kopi {
    background: #25150C;
}